@tailwind base;
/* @tailwind components; */
@tailwind utilities;

.ce-block {
  @apply max-w-full bg-gray-100;
}
.ce-block__content {
  @apply max-w-full;
}
.container {
  @apply md:max-w-3xl lg:max-w-4xl xl:max-w-5xl bg-white m-auto shadow-xl;
}
.cdx-block,
.ce-header {
  @apply md:max-w-3xl lg:max-w-4xl xl:max-w-5xl bg-white;
  margin: auto !important;
}
h1.ce-header {
  @apply text-2xl;
}
h2.ce-header {
  @apply text-xl;
}
.ce-paragraph {
  @apply px-8;
}
.ce-header {
  padding: 0.5rem 2rem !important;
}
@media (max-width: 800px) {
  .ce-header,
  .ce-paragraph,
  .cdx-list {
    padding: 0.5rem 2rem !important;
  }
}
.ce-toolbar {
  @apply z-50;
}
.ce-toolbar__content {
  @apply max-w-screen-xl;
}

.ce-toolbar__actions {
  @apply flex-col;
  left: -7px;
}
@media (min-width: 1000px) {
  .ce-toolbar__actions {
    flex-direction: row;
  }
}
@media (min-width: 850px) {
  .ce-toolbar__actions {
    left: 40px;
  }
}
.ce-toolbar__settings-btn {
  @apply bg-elemDark hover:bg-gray-600 rounded-lg opacity-95 outline outline-gray-600 hover:outline-gray-800 -mr-24 lg:-mr-10 w-6 h-6 lg:h-8 lg:w-8 p-1 lg:p-2;
}
.ce-toolbar__settings-btn svg {
  @apply text-white;
}
.ce-toolbar__settings-btn:hover {
  @apply opacity-100;
}

.ce-toolbar__plus {
  @apply w-6 h-6 lg:h-8 lg:w-8 p-1 lg:p-2 bg-elemLight outline outline-green-100 rounded-full -mr-4 ml-1 lg:mr-3 lg:-ml-4 mb-3 hover:bg-green-300;
}

.image-handler-icon {
  font-style: normal !important;
  @apply text-gray-800;
  @apply text-3xl;
}
.img-placeholder {
  @apply w-14;
  @apply h-14;
  @apply p-4;
  @apply rounded-lg;
  @apply flex;
  @apply justify-center;
  @apply items-center;
}
.placeholder {
  @apply bg-placeholder border border-gray-100;
}
.header {
  @apply text-2xl font-bold;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}
